<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="DLarionov | Почти адекватные мысли" name="description">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <title>{{ page.title }} | DLarionov</title>

    <meta content="INDEX,FOLLOW" name="ROBOTS">

    <link href="/favicon.ico" rel="shortcut icon">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class='wrapper'>
      <div class='blog'>
        <div class='menu'>
          <div class="blog-info">
            <a href="/"><pre id="header-title" title="Denis Larionov">
  __
 /  )  /   _  _  '
/(_/  (__ (/ /  /  () /) () \/
            </pre></a>
<!--             <h2>
              <a href="http://dlarionov.info">Tag line</a>
            </h2> -->
          </div>
          <div class="pages">
            <a href="/pages/about.html">#About</a>
            <a href="/pages/readed_books.html" title="Прочитанные книги">#Books</a>
          </div>
        </div>
        <div class="container">
          {{ content }}
        </div>
      </div> <!-- /container -->
      <div class="footer">
        <div class="contact">
          <p>
            DLarionov
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/InvisibleMan/">github.com/invisibleman</a><br />
          </p>
        </div>
      </div>
    </body>
</html>
